<div class="container">
  <div class="card-group">
	  <div class="card border-success" style="width: 20rem;">
	  	<div class="card-body text-success">
	  	  <h4 class="card-title">Note #1</h4>
	  	  <p class="card-text">note content</p>
	  	  <a href="#" class="btn btn-primary btn-sm">View Note</a>
	  	</div>
	  </div>
	  	  <div class="card border-secondary" style="width: 20rem;">
	  	<div class="card-body text-secondary">
	  	  <h4 class="card-title">Note #2</h4>
	  	  <p class="card-text">note content</p>
	  	  <a href="#" class="btn btn-success btn-sm">View Note</a>
	  	</div>
	  </div>
	     <div class="card border-dark" style="width: 20rem;">
	  	<div class="card-body text-dark">
	  	  <h4 class="card-title">Note #3</h4>
	  	  <p class="card-text">note content</p>
	  	  <a href="#" class="btn btn-warning btn-sm">View Note</a>
	  	</div>
	  </div>
  </div>
</div>